<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600290039056-f5ujt79g1vqd5lqorrmjdktpqmmljvnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600290039056-f5ujt79g1vqd5lqorrmjdktpqmmljvnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBoKSBVDejAv1BmdoRU9_CCD5vvcxN22NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>600290039056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PS.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-75285</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-75285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600290039056:ios:a918d13df21f502f240195</string>
</dict>
</plist>